.EnlistedContainer {
    width: 98%;
    border: solid 1px rgb(255, 255, 255, 0.05);
    border-radius: 15px;
    min-height: 80px;
    background-color: rgb(35, 35, 40);
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition-duration: 0.2s;
    cursor: pointer;
}
.EnlistedContainer:hover{
    scale: 101%;
}
.EnlistedImage{
    width: 80px;
    z-index: 2;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.9));
    margin-left: -110px;
}
.EnlistedInfo{
    margin-left: 40px;
}
.EnlistedName{
    font-family: 'Geist', sans-serif;
    font-size: 25px;
    margin: 0px;
    font-weight: 700;
    color: white;
    z-index: 2;
}
.EnlistedPerk{
    font-family: 'Geist', sans-serif;
    font-size: 20px;
    margin: 0px;
    font-weight: 300;
    color: white;
    z-index: 2;

}

.EnlistedTopThreeStyler{
    width: 160px;
    height: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    z-index: 1;
    display: flex;
    align-items: center;
}
.Place{
    margin: 0px;
    margin-left: 10px;
    font-style: italic;
    color: white;
    font-family: 'Geist', sans-serif;
}
.TierDisplayCon {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    align-items: center;
}
.GmTierDisplay{
    width: 38px;
    margin-left: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 25, 32);
    border-radius: 15px;
    align-items: center;
}
.GmTierImage {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}
.GmTier{
    margin: 0px;
    margin-top: 10px;
    font-family: 'Cascadia Code', sans-serif;
    color: white;

}
.TierRegion{
    font-weight: bold;
    margin: 0px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    color: lightgreen;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
}
@keyframes rainbow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 20000% 50%;
    }
  }
.enablerainbow{
    animation-name: rainbow;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1000s;
    animation-direction:normal;
    background-repeat:repeat-x;
}
